
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: yellowgreen;
}

.headerContainer {
    display : flex;
    flex-direction : row;
    align-items : center;
    margin: 0 auto;
    justify-content: center;
    background-color: darkgreen;
    padding : 10px;
    border-radius: 10px;
}

.listContainer {
    width: 900px;
    margin: 0 auto;
    padding : 10px;
    text-align: center;
    background-color: cadetblue;
    border-radius: 10px;
    justify-content: space-between;
}

.titleText {
    @apply text-xl;
    @apply font-bold;
}

.buttonStyle {
    text-align: center;
    margin-right : 10px;
    padding: 7px 16px;
    min-height: 36px;
    min-width: 36px;
    background: yellowgreen;
    border-radius: 4px;
    font-size: 14px;
}